.Content11{
  background-color: rgba(11, 20, 39, 1);
  &_content{
    width: 1080px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 2em;
    p{
      color: white;
      font-size: 24px;
      font-weight: 500;
      line-height: 31.2px;
      padding: 30px 0 30px 0;
      border-bottom: 3px solid rgba(231, 116, 46, 1);
      border-top: 3px solid rgba(231, 116, 46, 1);
    }
  }
}