.PaymentMethod{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em;
  p{
    font-size: 18px;
    font-weight: 400;
    line-height: 25.2px;
    text-align: center;
  }
  &_content{
    width: 1080px;
    display: flex;
    flex-direction: column;
    h2{
      font-size: 29px;
      font-weight: 500;
      color: rgba(231, 116, 46, 1);
    }
    h4{
      font-size: 18px;
      font-weight: 500;
      margin: 0;
      text-align: center;
    }
    p{
      font-size: 18px;
      font-weight: 400;
      line-height: 25.2px;
      text-align: center;
    }
    .Individuals{
      display: flex;
      flex-direction: column;
      align-items: center;
      &_methods{
        display: flex;
        margin: 20px auto;
        .method{
          width: 252px;
          height: 129px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
        }
        span{
          height: 129px;
          border-left: 1px solid rgba(222, 222, 222, 1);
        }
      }
    }
    .LegalEntities{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}